body {
    margin: 0;
    font-family: Arial, sans-serif;
    }
  
  .navbar {
    background-color: #f45c5c;
    overflow: hidden;
  }
  
  .navbar a, .navbar button {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    margin: 5px;
    text-decoration: none;
  }
  
  .navbar a:hover, .navbar button:hover {
    background-color: #ffffff;
    color: black;
  }
  
  .navbar button {
    float: left;
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
    padding: 12px 16px;
  }

  .profil {
    display: flex;
    min-width: 500px;
    height: 100%;
    margin-top: 20px;
  }
  
.profil-kram {
    width: 100%;
}

.profil-bild {
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 50px
}

.profil-bild-img {
    height: 150px;
    width: 150px;
}

.profil-stats {
    margin-top: 15px;
 
}
 
.flexbox {
  display:flex;
  justify-content: center;
}

.stat{
  margin-right: 10px;
}

.gallery{
  background-color: #ffffff;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* .gallery-img{ */
  /* width: 300px; */
  /* height: 300px; */
  /* margin: 2px; */
/* } */

@media screen and (max-width: 1000px) {
  .navbar {
    padding: 10px;
    background-color: var(--secondary-color);
  }
}

@media screen and (max-width: 1000px) {
  .profil-bild-img {
    height: 50px;
    width: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .gallery-img {
    height: 10%;
    width: 10%;
  }
}

#imageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.image-container {
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.image-container img {
  width: 100%;
  height: auto;
}

#loading {
  display: none;
  text-align: center;
  padding: 20px;
}
